:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  min-height: calc(100vh - 3rem);
  min-height: calc(100dvh - 3rem);
}

@media (max-width: 576px) {
  #app {
    min-height: calc(100vh - 0.75rem);
    min-height: calc(100dvh - 0.75rem);
  }
}
